<body class="websites">
  <main class="d-flex border border-warning justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center text-center fixed-top mt-3 content">

      <p id="notice"><%= notice %></p>

      <h1 class='fixed-top mt-2'>Websites</h1>

      <div class="container-fluid d-flex flex-wrap justify-content-around align-items-center mr-3 pr-3">
        <% @websites.each do |website| %>
          <div class="d-flex my-5 flex-wrap justify-content-around align-items-center">
            <div class="col-sm text p-2">
              <p class='title'>
                <%= website.title %>
              </p>
              <div class="w-100"></div>
              <p class="description">
                <%= website.description %>
              </p>
              <%= link_to 'Preview', website.url %>
              <div class="w-100"></div>
              <%= link_to 'Edit', edit_website_path(website) %>
              <%= link_to 'Destroy', website, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            <%= image_tag("#{website.image}", :alt => "Website Mockup", :class => 'img-fluid img-thumbnail mock-up') %>
          </div>
        <% end %>
      </div>

      <%= link_to 'New Website', new_website_path, :class => 'fixed-bottom mb-2' %>
  </div>
</main>
</body>
