<body class="websites">
  <main class="d-flex border border-warning justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center text-center fixed-top mt-3 content">

    <header class="d-inline-flex fixed-top mt-2 text-center justify-content-center align-items-center">
      <% if notice || alert %>
        <p id="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
      <h1>Websites</h1>
    </header>

      <div class="container-fluid d-flex flex-wrap justify-content-around align-items-center mr-3 pr-3 mt-2">
        <% @websites.each do |website| %>
          <div class="d-flex my-5 flex-wrap justify-content-around align-items-center">
            <div class="col-sm text p-2">
              <p class='title'>
                <%= website.title %>
              </p>
              <div class="w-100"></div>
              <p class="description">
                <%= website.description %>
              </p>
              <%= link_to 'Preview', website.url %>
              <div class="w-100"></div>
              <% if user_signed_in? and current_user.name == 'Brandon' %>
                <%= link_to 'Edit', edit_website_path(website) %>
                <%= link_to 'Destroy', website, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </div>
            <%= image_tag("#{website.image}", :alt => "Website Mockup", :class => 'img-fluid img-thumbnail mock-up') %>
          </div>
        <% end %>
      </div>

      <% if user_signed_in? and current_user.name == 'Brandon' %>
        <%= link_to 'New Website', new_website_path, :class => 'fixed-bottom mb-2' %>
      <% end %>
  </div>
</main>
</body>
