<body class="websites">
  <main class="d-flex border border-warning justify-content-center align-items-center pl-5">
    <div class="d-flex flex-column justify-content-center align-items-center my-5 border text-center ml-4">

      <p id="notice"><%= notice %></p>

      <h1>Websites</h1>

      <table class='border table'>
        <thead>
          <tr>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @websites.each do |website| %>
            <tr>
              <td><%= website.title %></td>
              <td><%= website.description %></td>
              <td><%= link_to 'Preview', website.url %></td>
              <td><%= link_to 'Show', website %></td>
              <td><%= link_to 'Edit', edit_website_path(website) %></td>
              <td><%= link_to 'Destroy', website, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>


      <%= link_to 'New Website', new_website_path %>
  </div>
</main>
</body>
