<body class="about">
  <main class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center text-center content">
      <div class="container d-flex flex-column me scroll">
        <div class='my-3'>
            <h1><%= @student.name %></h1>
            <p><%= @student.email %></p>
          
          <%= form_for :appointment, url: appointments_path, method: :post do |form| %>
            <p class='mt-4'>
              Please add appointment date and time.
            </p>
            <% if @appointment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this contact from being saved:</h2>
              
              <ul>
                <% @appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>
            
            <div class="field">
              <%= form.hidden_field :student_id, value: @student.id  %>
              <%= form.hidden_field :user_id, value: @teacher.id  %>
              <%= form.date_field :date, class: 'form_text' %>
              <%= form.time_field :time, class: 'form_text' %>
              <%=  form.submit "Add Appointment" %>
            </div>
          <% end %>
            
        <h2 class='mt-5'>Edit User</h2>
          <%= form_for :student, url: student_path, method: :put do |form| %>
          <p>
            Please add the preferred name and a contact email.
            </p>
            <% if @student.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@student.errors.count, "error") %> prohibited this contact from being saved:</h2>

                <ul>
                  <% @student.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= form.text_field :name, autofocus: true, class: 'form_text' %>
              <%= form.text_field :email, class: 'form_text' %>
              <%=  form.submit "Update Student" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </main>
</body>