<body class='games'>
  <main class="d-flex border border-warning justify-content-center align-items-center pl-5">
    <div class="d-flex flex-column justify-content-center align-items-center my-5 text-center ml-4">

      <% if notice || alert %>
        <p id="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>

      <h1>Games</h1>
      <p>Coming Soon!</p>

      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @games.each do |game| %>
            <tr>
              <td><%= link_to 'Show', game %></td>
              <td><%= link_to 'Edit', edit_game_path(game) %></td>
              <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
      <% if user_signed_in? and current_user.name == 'Brandon' %>
        <%= link_to 'New Game', new_game_path, :class => 'fixed-bottom mb-2' %>
      <% end %>
    </div>
  </main>
</body>
