<body class="home">

  <main class="d-flex justify-content-center align-items-center pl-5">
    <section class="position-absolute d-flex flex-column text-center mt-3 mr-3">
      <% if user_signed_in? %>
        <%= link_to "Hello #{current_user.name}!", destroy_user_session_path, method: :delete, class: 'logout' %>
      <% else %>
        <%= link_to '<i class="fas fa-cog"></i>'.html_safe, new_user_session_path, class: 'login' %>
      <% end %>
    </section>
    <div class="d-flex flex-column justify-content-center align-items-center text-center ml-4">
      <h1 class='m-3'>Hello! I'm Brandon!</h1>
      <h3 class='m-3'>I'm a
        <span class='title-change'>coder</span></h3>
      <h5 class='m-3'>I love to
        <span class='interest-change'>debug code</span></h5>

      <p class='m-3'>How can I help you?</p>
      <div class="d-flex flex-column flex-sm-row m-3 content">
        <button class='web-form btn click-for-more-website'>
          <%= 'I need a website' %>
          <span class="website-pop-out">
            <span class='close-out'>
              <i class="fas fa-times-circle"></i>
            </span>
            I'm so glad you came to me for help! I would love to set up your website. I am skilled in HTML, CSS, Javascript, and Ruby. I am experienced with the Bootstrap, React, and Ruby on Rails frameworks. I have deployed numerous sites using Heroku and
            Netlify. I have added services such as Amazon AWS to many projects. Click below to send me a message with contact information and a simple explanation of your needs!<%= tag(:br) %><%= tag(:br) %>
            <%= link_to 'Contact Me Now!', web_form_path, class: 'font-weight-bold font-italic' %>
            <%= tag(:br) %>
          </span>
        </button>
        <button class='employee-form btn click-for-more-employee'>
          <%= 'I need an employee' %>
          <span class="employee-pop-out">
            <span class='close-out'>
              <i class="fas fa-times-circle"></i>
            </span>
            I am sure I will be a great addition to your team! Between my military service and having worked my way up to management in a retail setting I've learned how to effectively lead but also how to follow. I look forward to getting to know you and your
            team and finding where I can be of the most use to your future endeavors. I am sure I will be a great addition to your team and I know you will find what I offer to be of great benefit!<%= tag(:br) %><%= tag(:br) %>
            <%= link_to 'Contact Me Now!', employee_form_path, class: 'font-weight-bold font-italic' %>
            <%= tag(:br) %>
          </span>
        </button>
        <button class='tutor-form btn click-for-more-tutor'>
          <%= 'I need a tutor' %>
          <span class="tutor-pop-out">
            <span class='close-out'>
              <i class="fas fa-times-circle"></i>
            </span>
            I look forward to helping you learn! I have over 2 years of experience as a teacher. I can help you in your quest to improve your English, teach you what to do in case someone is bleeding, how to handle medical care during active shooter situations,
            or share my knowledge in programming. I genuinely enjoy watching my students improve in whatever area I am assisting them and am always available to answer your questions. I'm here for you!<%= tag(:br) %><%= tag(:br) %>
            <%= link_to 'Contact Me Now!', tutor_form_path, class: 'font-weight-bold font-italic' %>
            <%= tag(:br) %>
          </span>
        </button>
      </div>
      <%# link_to 'about', portal_about_path %>
      </div>
    </main>
    <!-- <button type="button" name="button" class='btn-sm'> <img src="/pro-photo.jpg" alt="Brandon" class="img-thumbnail float-right w-50"> </button> -->

    <%# image_tag("rss.jpg", :alt => "rss feed") %>

    </body>