<body class="about">
  <main class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center text-center content">
      <div class="container d-flex flex-column me scroll">
        <div class='my-3'>
          <% @students.each do |student| %>
            <div>  
              <p><%= student.name %>: <%= student.email %></p>
            </div>
          <% end %>
          
          <%= form_for :student do |form| %>
          <p>
            Please share your preferred name, a contact email, and brief message.
            </p>
            <% if @student.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@student.errors.count, "error") %> prohibited this contact from being saved:</h2>

                <ul>
                  <% @student.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= form.label :name %><br />
              <%= form.text_field :name, autofocus: true, class: 'form_text' %>
            </div>

            <div class="field">
              <%= form.label :email %><br />
              <%= form.text_field :email, class: 'form_text' %>
            </div>


            <div class="actions mt-3 text-center">
              <%=  form.submit "Send" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </main>
</body>