<body class="apps">
  <main class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-start align-items-center text-center mt-3 content scroll">

      <header class="d-inline-flex flex-column fixed-top mt-2 text-center justify-content-center align-items-center">
        <h1>Apps</h1>
        <% if notice || alert %>
          <p id="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        <% end %>
      </header>

      <div class="container-fluid d-flex flex-wrap justify-content-around align-items-center mr-3 pr-3">
        <% @apps.each do |app| %>
          <div class="d-flex mt-2 mb-5 my-md-5 flex-wrap justify-content-around align-items-center pr-3 site-card">
            <div class="col-sm text p-2">
              <h4 class='title'>
                <b>
                  <%= app.title %>
                </b>
              </h4>
              <div class="w-100"></div>
              <p class="mobile-description">
                <%= app.mobile_description %>
              </p>
              <p class="description">
                <%= app.description %>
              </p>
              <% unless app.stacks.empty? %>
                <div class="stacks">
                  <% app.stacks.each do |stack|%>
                    <%= content_tag(:p, stack.name, class: "btn btn-#{stack.color}") %>
                  <% end %>
                </div>
              <% end %>
              <p class="see-more">
                <%= link_to 'See More', app_path(app.title) %>
              </p>
              <%= link_to 'Use App', app.url %>
              <%= link_to 'View Code', app.code %>
              <div class="w-100"></div>
              <% if user_signed_in? and current_user.role == 'admin' %>
                <%= link_to 'Edit', edit_app_path(app) %>
                <%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
            <%= image_tag("#{app.image}", :alt => "#{app.title} Mockup", :class => 'img-fluid img-thumbnail mock-up') %>
          </div>
        <% end %>
      </div>
      <% if user_signed_in? and current_user.role == 'admin' %>
        <%= link_to 'New App', new_app_path, :class => 'fixed-bottom mb-2 add' %>
      <% end %>
    </div>
  </main>
</body>