<body class="apps">
  <main class="d-flex border border-warning justify-content-center align-items-center pl-5">
    <div class="d-flex flex-column justify-content-center align-items-center my-5 text-center ml-4">

      <p id="notice"><%= notice %></p>

      <h1>Apps</h1>

      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @apps.each do |app| %>
            <tr>
              <td><%= link_to 'Show', app %></td>
              <td><%= link_to 'Edit', edit_app_path(app) %></td>
              <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New App', new_app_path %>

    </div>
  </main>
</body>
