<body class="about">
  <main class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center text-center content">
      <div class="container d-flex flex-column me scroll">
        <div class='my-3'>
          <div class='mt-5'>  
            <% @appointments.sort_by{|appt|appt.time}.sort_by{|appt| appt.date}.each do |appointment| %>
              <% if appointment.date > Date.today %>
                 <p><%= appointment.date.strftime("%^a") %> | <%= appointment.date %>: <%= appointment.time.strftime("%H:%M:%S") %> - <%= link_to appointment.student.name, student_url(appointment.student) %> <small><%= link_to 'Notes', appointment_path(appointment.id), class: 'btn' %></small></p> 
                 <br/>
             <% elsif (appointment.date == Date.today) && (appointment.time.hour > Time.now.hour) %>
               <p><%= appointment.date.strftime("%^a") %> | <%= appointment.date %>: <%= appointment.time.strftime("%H:%M:%S") %> - <%= link_to appointment.student.name, student_url(appointment.student) %> <small><%= link_to 'Notes', appointment_path(appointment.id), class: 'btn' %></small></p> 
               <br/>
              <% end %>
            <% end %>
            <%= link_to 'Contacts', contacts_path %>
        </div>
      </div>
    </div>
  </main>
</body>