<!DOCTYPE html>
<html>
  <head>
    <title>DeveloperPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  </head>
  <nav class="d-flex flex-column col-sm justify-content-around align-items-center position-absolute bg-dark border">
    <a href="/"><span class='tip'>Home</span>
      <span><i class="fa fa-home"></i></span></a>
    <br />
    <!-- <a href=""><span><i class="fa fa-music"></i></span></a> -->
    <!-- <a href=""><span><i class="fab fa-spotify"></i></span></a>
    <br />-->
    <!-- <a href="/games"><span class='tip'>Today in History</span>
      <span><i class="fa fa-question"></i></span>
    </a>
    <br />-->
    <a href="/about"><span class='tip'>About Me</span>
      <span><i class="fas fa-user-tie"></i></span>
    </a>
    <!-- <a href="/about"><span class='tip'>About Me</span>
      <span><i class="fas fa-dragon"></i></span>
    </a> -->
    <br />
    <a href="/websites"><span class='tip'>My Websites</span>
      <span><i class="fa fa-code"></i></span>
    </a>
    <a href="/games"><span class='tip'>My Games</span>
      <span><i class="fa fa-gamepad"></i></span>
    </a><br />

    <a href="https://github.com/defoebrand"><span class='tip'>GitHub</span>
      <span><i class="fab fa-github"></i></span>
    </a>
    <a href="https://www.linkedin.com/in/defoebrand/"><span class='tip'>LinkedIn</span>
      <span><i class="fab fa-linkedin"></i></span>
    </a>
    <a href="https://medium.com/@defoebrand"><span class='tip'>Medium</span>
      <span><i class="fab fa-medium"></i></span>
    </a>


  </nav>
  <body>
    <%= yield %>
  </body>
</html>
